:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
}

.layout {
  background-color: var(--white);
  color: var(--black);
  transition: all 200ms ease-in-out;
}
.layout--dark {
  background-color: var(--black);
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: var(--primary-light);
  transition: all 200ms ease-in-out;

  &:hover {
    color: var(--primary-light-darker);
  }
}